/* HTML ELEMENTS */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: $secondary-color;
  font-family: $sans;
  font-weight: $body-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}


a,
a:link,
a:visited,
a.active {
  border: none;
  color: $accent-color;
  text-decoration: none;
  @include trans-all;
}

a img, a, img {
  border: none !important;
  border-color: none !important;
}

a:hover,
a:focus,
a:active {
  color: lighten($accent-color, 15%);
  outline: none;
}

p, ol, ul, blockquote, pre, code, span {
  color: $text-color;
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  hyphens: auto;
  line-height: $base-line-height;
  margin: 0 0 $base-line-height 0;
  word-wrap: break-word;
}

strong, b {
  font-weight: bold;
}

blockquote {
  background: $secondary-color;
  border: 1px solid $primary-color;
  font-style: italic;
  padding: 1em;
}

blockquote p {
  margin-bottom: 0;
}

ol, ul {
  padding-left: 1em;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

