/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
@import "susy";

$tab: 50em 24; // At 44em use 24 columns.
$desk: 70em 24; // At 70em use 24 columns.

.l-top {
  padding-bottom: $em-base;
  padding-top: $em-base;
}

.l-header {
  margin-bottom: $vert-rhythm;
}

.l-main {
  margin-bottom: $vert-rhythm;
}

.l-branding-wrapper {
  padding: $em-base 0;
}

.logo {
  @include span-columns(1, 12); // Span 2 out of 12 columns.
}

.site-info {
  @include span-columns(3, 12); // Span 2 out of 12 columns.
}

.footer-wrapper {
  width: 100%;
}


@include at-breakpoint($tab) {
	
	
	.l-sidebar-second .block,
	.l-sidebar-first .block {
	  margin-bottom: $vert-rhythm * 2;
	}

}

@include at-breakpoint($desk) {

	.l-logo a img {
	  height: 72px;
	  margin-top: 0;
	  width: auto;
	}
	
}

