/* MISC STYLES */

// contextual edit div - it needs a min width to appear properly

.contextual {
	width: 28px;
}

// node styles

.img-right {
  float: right;
  height: auto;
  padding: 5px 0 5px 15px;
  max-width: 50%;
}

.img-left {
  float: left;
  height: auto;
  padding: 5px 15px 5px 0;
  max-width: 50%;
}