@import "susy";

// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 20px;

$container-style: magic;
$container-width: 1200px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 50em 24; // At 44em use 24 columns.
$desk: 70em 24; // At 70em use 24 columns.

.l-header,
.l-main,
.l-footer {
  @include container; // Define these elements as the grid containers.
  // @include susy-grid-background; // Show the columns for debugging.
  margin-bottom: $vert-spacing-unit;
}

.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

@include at-breakpoint($tab) { // At a given Susy Media Layout, use a given amount of columns.
  .l-header,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    // @include susy-grid-background; // Show the columns for debugging.
  }

  .l-region--header{
    @include span-columns(16 omega, 24); // Span the last (omega) 16 columns of 24.
  }
  .l-region--navigation {
    clear: both;
  }

  .l-sidebar-first,
  .l-sidebar-second,
  .two-sidebars {
    .l-content {
      @include span-columns(16, 24); // Span 8 out of 12 columns.
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span-columns(8 omega, 24); // Span the last (omega) 8 columns of 24.
    }
    .l-sidebar-second {
      clear: right;
    }
  }
}

@include at-breakpoint($desk) {
  .l-top,
  .l-main,
  .l-footer {
    @include set-container-width; // Reset only the container width (elements have already been declared as containers).
    // @include susy-grid-background; // Show the columns for debugging.
  }

  .l-sidebar-first {
    .l-content {
      @include span-columns(16 omega, 24); // Span the last (omega) 16 columns of 24.
    }
    .l-sidebar-first {
      @include span-columns(6, 24); // Span 6 out of 24 columns.
    }
  }
  .l-sidebar-second {
    .l-content {
      @include span-columns(16, 24); // Span 16 out of 24 columns.
    }
    .l-sidebar-second {
      @include span-columns(6 omega, 24); // Span the last (omega) 6 columns of 24.
      clear: none;
    }
  }

  .two-sidebars {
    .l-content {
      @include span-columns(12, 24); // Span 12 out of 24 columns.
      @include push(6, 24);  // Push element by adding 6 out of 24 columns of left margin.
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span-columns(5, 24); // Span 6 out of 24 columns.
    }
    .l-sidebar-first {
      @include pull(18, 24); // Pull element by adding 18 out of 24 columns of negative left margin.
    }
    .l-sidebar-second {
      @include omega; // This element spans the last (omega) column.
      clear: none;
    }
  }
}
